<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页面</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <!--/*@thymesVar id="user" type="com.system.reqm.entity.User"*/-->
     <p th:text="|用户名：${user.cLoginname}|">Test</p>
    <table class="table table-bordered">
        <thead>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>负责人</th>
        </thead>
        <tbody >
        <!--/*@thymesVar id="Items" type="com.system.reqm.entity.Items"*/-->
            <tr th:each="Items:${itemss}">
                <td th:text="${Items.nItemsId}">1</td>
                <td th:text="${Items.cItemsName}">测试项目</td>
                <td th:text="${#dates.format(Items.dItemsCreatetime,'yyyy-MM-dd HH:mm:ss')}">2017年12月10日</td>
                <td th:text="${#dates.format(Items.cItemsEndtime,'yyyy-mm-dd HH:mm:ss')}">2017年12月10日</td>
                <td th:text="${Items.cTimesPrincipal}">管理员</td>
            </tr>
        </tbody>
    </table>

 </body>
<script th:href="@{/jquery-3.2.1.js}"></script>
 </html>