<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页面</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <!--/*@thymesVar id="user" type="com.system.reqm.entity.User"*/-->
    <p th:text="|用户名：${user.cLoginname}|">Test</p>
    <section>
        <div>
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-info">
                        <a class="logo" href="#">主页</a>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#one-project">个人项目</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#all-project">所有项目</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#add-project">添加项目</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="one-project" class="tab-pane active">
                                <div class="profile-activity">
                                    <header class="panel-heading">项目曲线</header>
                                    <div class="panel-body text-center">
                                        <canvas id="line" height="300" width="450"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div id="all-project" class="tab-pane">
                                <section class="panel">
                                    <div class="bio-graph-heading">
                                        <h1>所有项目</h1>
                                        <table class="table table-bordered">
                                            <thead>
                                            <th>项目编号</th>
                                            <th>项目名称</th>
                                            <th>开始时间</th>
                                            <th>结束时间</th>
                                            <th>负责人</th>
                                            <th>操作</th>
                                            </thead>
                                            <tbody >
                                            <!--/*@thymesVar id="Items" type="com.system.reqm.entity.Items"*/-->
                                            <tr th:each="Items:${itemss}">
                                                <td th:text="${Items.nItemsId}">1</td>
                                                <td th:text="${Items.cItemsName}">测试项目</td>
                                                <td th:text="${#dates.format(Items.dItemsCreatetime,'yyyy-MM-dd HH:mm:ss')}">2017年12月10日</td>
                                                <td th:text="${#dates.format(Items.dItemsEndtime,'yyyy-mm-dd HH:mm:ss')}">2017年12月10日</td>
                                                <td th:text="${Items.cTimesPrincipal}">管理员</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-success">
                                                            <i class="glyphicon glyphicon-refresh"></i>
                                                        </button>
                                                        <button class="btn btn-danger">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                            <div id="add-project" class="tab-pane">
                                <section class="panel">
                                    <div class="panel-body">
                                        <!--/*@thymesVar id="Items" type="com.system.reqm.entity.Items"*/-->
                                       <form action="#" th:action="@{/user/add}" th:object="${Items}" method="post" class="form-horizontal">
                                           <div class="form-group col-sm-10">
                                               <label class="col-sm-2 control-label"><b>项目编号：</b></label>
                                               <div class="col-sm-5">
                                                   <input type="text" id="nItemsId" th:name="nItemsId" class="form-control"/>
                                               </div>
                                           </div>
                                           <div class="form-group col-sm-10">
                                               <label class="col-sm-2 control-label"><b>项目名称：</b></label>
                                               <div class="col-sm-5">
                                                   <input type="text" id="cItemsName" th:name="cItemsName"  class="form-control"/>
                                               </div>
                                           </div>
                                           <!--<div class="form-group col-sm-10">-->
                                               <!--<label class="col-sm-2 control-label"><b>项目开始时间：</b></label>-->
                                               <!--<div class="col-sm-3">-->
                                                   <!--<input th:type="date" th:value="${#dates.}" th:id ="dItemsCreatetime" th:name="dItemsCreatetime" class="form-control"/>-->
                                               <!--</div>-->
                                               <!--<label class="col-sm-2 control-label"><b>项目结束时间：</b></label>-->
                                               <!--<div class="col-sm-3">-->
                                                   <!--<input th:type="date" th:id="dItemsEndtime" th:name="dItemsEndtime"  class="form-control"/>-->
                                               <!--</div>-->
                                           <!--</div>-->
                                           <div class="form-group col-sm-10">
                                               <label class="col-sm-2 control-label"><strong>项目负责人：</strong></label>
                                               <div class="col-sm-5">
                                                   <input type="text" th:id="cTimesPrincipal" th:name="cTimesPrincipal"  class="form-control"/>
                                               </div>
                                           </div>
                                           <div class="form-group col-sm-10">
                                               <label class="col-sm-2 control-label"><strong>项目描述：</strong></label>
                                               <div class="col-sm-5">
                                                   <textarea class="form-control"/>
                                               </div>
                                           </div>
                                           <button type="submit" class="btn btn-default">Submit</button>
                                       </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
 </body>
<script th:src="@{/bootstrap/js/jquery-3.2.1.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/bootstrap/js/chartjs-custom.js}"></script>
<script th:src="@{/bootstrap/js/Chart.js}"></script>
 </html>